body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #9B5DE5;
}

header h2 {
    color: white;
}

footer {
    background-image: linear-gradient(#F15BB5, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 20px;
    background-image: linear-gradient(to right, #9B5de5, #00BBF9, #00F5D4);
    color: white;
    margin: 0;
}

.row-content {
    padding: 25px 0;
    border-bottom: 1px, ridge;
    min-height: 200px;
}

.navbar {
    background-color: #F15BB5;
    border: 1px solid;
    text-emphasis-color: black;
}

.site-footer {
    background-image: linear-gradient(#F15BB5, white);
    padding: 20px 0;
}

.tab-content {
	border: 1px solid #DDD;
	border-top: none;
	padding: 10px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
}


