body {
    font-family: "Courier New", monospace;
}

h1, h2, h3 {
  /*  font-family: "Ink Free"; */
    font-family: "Monaco", monospace;
}

h2 {
    color: #264653;
}

h3 {
    color: #2A9D8F;
}

header h2 {
    color: white;
}



.jumbotron {
    padding: 20px;
    background-image: linear-gradient(to right,#264653, #2A9D8F);
    color: white;
    margin: 0;
}

.img {
    border: 1px solid;
    
}

.row-content {
    padding: 25px 0;
    border-bottom: 1px, ridge;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(rgb(122, 61, 8),rgb(161, 102, 23));
    border: 1px solid;
    text-emphasis-color: black;
}

.site-footer {
    background-image: linear-gradient(#2A9D8F, #264653);
    padding: 20px 0;
    color: white;

   
    
}

a:link {
        color: white;
}


.tab-content {
	border: 1px solid #DDD;
	border-top: none;
	padding: 10px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
}


.carousel .carousel-item img {
    width: auto;
    height: auto;
    max-height: 800px;
}

#carouselButton {
    position: absolute;
    right: 1;
    bottom: 0;
    z-index: 100;
}

#galleryCarouselButton {
    position: absolute;
    right: 1;
    bottom: 15px;
    z-index: 100;
}

#subscribeButton {
    background-color: #2A9D8F;
    color: white;
}

#navbarToggler {
    visibility: hidden;
}

@media only screen and (max-width: 575px) {
    #navbarToggler {
        visibility: visible;
    }
}


